<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzkj.flowStore.mapper.SysUsersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xzkj.flowStore.entity.SysUsers">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="logo" property="logo" />
        <result column="email" property="email" />
        <result column="user_type" property="userType" />
        <result column="state" property="state" />
        <result column="access" property="access" />
        <result column="role_ids" property="roleIds" />
        <result column="classes_ids" property="classesIds" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, password,access, phone, logo,classes_ids, email, user_type, state,role_ids, created_at, updated_at
    </sql>

</mapper>
