<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzkj.platform.servicecode.mapper.ECodeRelatedMapper">
    
    <resultMap type="ECodeRelated" id="ECodeRelatedResult">
        <result property="id"    column="id"    />
        <result property="serviceCode"    column="service_code"    />
        <result property="accessExt"    column="access_ext"    />
        <result property="accessVirtualExt"    column="access_virtual_ext"    />
        <result property="appExt"    column="app_ext"    />
        <result property="modelExt"    column="model_ext"    />
        <result property="appId"    column="app_id"    />
        <result property="appName"    column="app_name"    />
        <result property="companyId"    column="company_id"    />
        <result property="companyName"    column="company_name"    />
        <result property="signId"    column="sign_id"    />
        <result property="modelId"    column="model_id"    />
        <result property="ispCode"    column="isp_code"    />
        <result property="channelId"    column="channel_id"    />
        <result property="status"    column="status"    />
        <result property="info"    column="info"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectECodeRelatedVo">
        select id, service_code, access_ext, access_virtual_ext, app_ext, model_ext, app_id, app_name, company_id, company_name, sign_id, model_id, isp_code, channel_id, status, info, create_time, update_time from e_code_related
    </sql>

    <select id="selectECodeRelatedList" parameterType="ECodeRelated" resultMap="ECodeRelatedResult">
        <include refid="selectECodeRelatedVo"/>
        <where>  
            <if test="serviceCode != null  and serviceCode != ''"> and service_code = #{serviceCode}</if>
            <if test="accessExt != null  and accessExt != ''"> and access_ext = #{accessExt}</if>
            <if test="accessVirtualExt != null  and accessVirtualExt != ''"> and access_virtual_ext = #{accessVirtualExt}</if>
            <if test="appExt != null  and appExt != ''"> and app_ext = #{appExt}</if>
            <if test="modelExt != null  and modelExt != ''"> and model_ext = #{modelExt}</if>
            <if test="appId != null "> and app_id = #{appId}</if>
            <if test="appName != null  and appName != ''"> and app_name like concat('%', #{appName}, '%')</if>
            <if test="companyId != null and companyId !=0 "> and company_id = #{companyId}</if>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="signId != null  and signId != ''"> and sign_id = #{signId}</if>
            <if test="modelId != null  and modelId != ''"> and model_id = #{modelId}</if>
            <if test="ispCode != null and ispCode !=0 "> and isp_code = #{ispCode}</if>
            <if test="channelId != null "> and channel_id = #{channelId}</if>
            <if test="status != null  and status != 0"> and status = #{status}</if>
            <if test="info != null  and info != ''"> and info = #{info}</if>
        </where>
    </select>
    
    <select id="selectECodeRelatedById" parameterType="Long" resultMap="ECodeRelatedResult">
        <include refid="selectECodeRelatedVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertECodeRelated" parameterType="ECodeRelated">
        insert into e_code_related
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="serviceCode != null">service_code,</if>
            <if test="accessExt != null">access_ext,</if>
            <if test="accessVirtualExt != null">access_virtual_ext,</if>
            <if test="appExt != null">app_ext,</if>
            <if test="modelExt != null">model_ext,</if>
            <if test="appId != null">app_id,</if>
            <if test="appName != null">app_name,</if>
            <if test="companyId != null">company_id,</if>
            <if test="companyName != null">company_name,</if>
            <if test="signId != null">sign_id,</if>
            <if test="modelId != null">model_id,</if>
            <if test="ispCode != null">isp_code,</if>
            <if test="channelId != null">channel_id,</if>
            <if test="status != null">status,</if>
            <if test="info != null">info,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="serviceCode != null">#{serviceCode},</if>
            <if test="accessExt != null">#{accessExt},</if>
            <if test="accessVirtualExt != null">#{accessVirtualExt},</if>
            <if test="appExt != null">#{appExt},</if>
            <if test="modelExt != null">#{modelExt},</if>
            <if test="appId != null">#{appId},</if>
            <if test="appName != null">#{appName},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="signId != null">#{signId},</if>
            <if test="modelId != null">#{modelId},</if>
            <if test="ispCode != null">#{ispCode},</if>
            <if test="channelId != null">#{channelId},</if>
            <if test="status != null">#{status},</if>
            <if test="info != null">#{info},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateECodeRelated" parameterType="ECodeRelated">
        update e_code_related
        <trim prefix="SET" suffixOverrides=",">
            <if test="serviceCode != null">service_code = #{serviceCode},</if>
            <if test="accessExt != null">access_ext = #{accessExt},</if>
            <if test="accessVirtualExt != null">access_virtual_ext = #{accessVirtualExt},</if>
            <if test="appExt != null">app_ext = #{appExt},</if>
            <if test="modelExt != null">model_ext = #{modelExt},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="appName != null">app_name = #{appName},</if>
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="companyName != null">company_name = #{companyName},</if>
            <if test="signId != null">sign_id = #{signId},</if>
            <if test="modelId != null">model_id = #{modelId},</if>
            <if test="ispCode != null">isp_code = #{ispCode},</if>
            <if test="channelId != null">channel_id = #{channelId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="info != null">info = #{info},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteECodeRelatedById" parameterType="Long">
        delete from e_code_related where id = #{id}
    </delete>

    <delete id="deleteECodeRelatedByIds" parameterType="String">
        delete from e_code_related where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>