<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改签名')" />
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-model-idea" th:object="${eModelInfo}">
            <input name="id" th:field="*{id}" type="hidden">
            <input type="hidden" id="companyId" name="companyId" th:field="*{companyId}"/>
            <input type="hidden" id="appIdEdit" name="appIdEdit" th:field="*{appId}"/>
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">客户：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="companyName" onclick="selectDeptTree()" id="treeName" type="text" placeholder="请选择客户" th:field="*{companyName}" class="form-control">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">账户：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <select class="form-control" name="appId" id="appId" style="width: 100%; height: 31px;" required>-->
<!--                        <option value="">请选择账户</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">签名id：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="signId" th:field="*{signId}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">省份：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="ecProvince" th:field="*{ecProvince}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">地市：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="ecCity" th:field="*{ecCity}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">服务代码</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="serviceCode" th:field="*{serviceCode}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">报备签名内容：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <textarea type="text" name="reportSignContent" id="reportSignContent" class="form-control" th:field="*{reportSignContent}"></textarea>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">实际发送企业：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="ecName" th:field="*{ecName}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">推送地址：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="backUrl" th:field="*{backUrl}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">授权函(png格式或pdf格式文件 上传文件大小限制最高2M)：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input type="hidden" name="uploadFile" th:field="*{uploadFile}">-->
<!--                    <div class="file-loading">-->
<!--                        <input class="form-control file-upload" id="uploadFile" name="file" type="file">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label is-required">客户分类：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <label class="radio-box"> <input type="radio" th:field="*{customerType}" name="customerType" value="0" checked="checked"/>直签客户</label>-->
<!--                    <label class="radio-box"> <input type="radio" th:field="*{customerType}" name="customerType" value="1" />代理商</label>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">来源：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <select name="source" th:field="*{source}" style="width: 100%; height: 31px;" disabled>-->
<!--                        <option value="1">API</option>-->
<!--                        <option value="2">管理端</option>-->
<!--                        <option value="3">客户端</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                &lt;!&ndash; 若依重新封装了复选框样式，所以这里在label上循环所有信安行业属性  这里industry为信安行业属性字典&ndash;&gt;-->
<!--                <label class="col-sm-3 control-label">行业分类：</label>-->
<!--                <div class="col-sm-9">-->
<!--                    <label th:each="dict:${@dict.getType('industry')}" class="check-box">-->
<!--                        &lt;!&ndash; 这里的 channelList 为后端传过来的字符串集合List<String> &ndash;&gt;-->
<!--                        <input type ="radio" id="industry" name="industry"-->
<!--                               th:value="${dict.dictValue}"-->
<!--                               th:text ="${dict.dictLabel}"-->
<!--                               th:attr ='checked=${industryList.contains(dict.dictValue)?true:false}'-->
<!--                        >-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">
                <!-- 若依重新封装了复选框样式，所以这里在label上循环所有信安行业属性  这里rcsIndustry为信安行业属性字典-->
                <label class="col-sm-3 control-label">策略（选中的状态都成功，则源数据状态返回成功）：</label>
                <div class="col-sm-9">
                    <label th:each="dict:${list}" class="check-box">
                        <!-- 这里的 channelList 为后端传过来的字符串集合List<String> -->
                        <input type ="checkbox" id="idea" name="idea"
                               th:value="${dict.modelId}"
                               th:text ="${dict.modelId}"
                               th:attr ='checked=${ideaList.contains(dict.modelId)?true:false}'
                        >
                    </label>
                </div>
            </div>
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">描述：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="info" th:field="*{info}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">父id：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="info" th:field="*{pid}" class="form-control" type="text" readonly>-->
<!--                </div>-->
<!--            </div>-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-fileinput-js"/>
    <th:block th:include="include :: summernote-js" />
    <script th:inline="javascript">
        var prefix = ctx + "emodel/model";
        $("#form-model-idea").validate({
            focusCleanup: true
        });

        // $(document).ready(function() {
        //     spChange($("#companyId").val(),$("#appIdEdit").val());
        // });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/idea", $('#form-model-idea').serialize());
            }
        }

        // $(".file-upload").each(function (i) {
        //     var val = $("input[name='" + this.id + "']").val()
        //     $(this).fileinput({
        //         'uploadUrl': ctx + 'emodel/sign/upload',
        //         initialPreviewAsData: true,
        //         initialPreview: [val],
        //         maxFileCount: 1,
        //         autoReplace: true
        //     }).on('fileuploaded', function (event, data, previewId, index) {
        //         $("input[name='" + event.currentTarget.id + "']").val(data.response.url)
        //     }).on('fileremoved', function (event, id, index) {
        //         $("input[name='" + event.currentTarget.id + "']").val('')
        //     })
        //     $(this).fileinput('_initFileActions');
        // });
        //
        // $(function() {
        //     $('.summernote').each(function(i) {
        //         $('#' + this.id).summernote({
        //             lang: 'zh-CN',
        //             dialogsInBody: true,
        //             callbacks: {
        //                 onChange: function(contents, $edittable) {
        //                     $("input[name='" + this.id + "']").val(contents);
        //                 },
        //                 onImageUpload: function(files) {
        //                     var obj = this;
        //                     var data = new FormData();
        //                     data.append("file", files[0]);
        //                     $.ajax({
        //                         type: "post",
        //                         url: ctx + "emodel/sign/upload",
        //                         data: data,
        //                         cache: false,
        //                         contentType: false,
        //                         processData: false,
        //                         dataType: 'json',
        //                         success: function(result) {
        //                             if (result.code == web_status.SUCCESS) {
        //                                 $('#' + obj.id).summernote('insertImage', result.url);
        //                             } else {
        //                                 $.modal.alertError(result.msg);
        //                             }
        //                         },
        //                         error: function(error) {
        //                             $.modal.alertWarning("图片上传失败。");
        //                         }
        //                     });
        //                 }
        //             }
        //         });
        //         var content = $("input[name='" + this.id + "']").val();
        //         $('#' + this.id).summernote('code', content);
        //     })
        // });
        //
        // /* 新增-选择公司树 */
        // function selectDeptTree() {
        //     var treeId = $("#treeId").val();
        //     var companyId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        //     var url = ctx + "system/dept/selectDeptTree/" + companyId;
        //     var options = {
        //         title: '选择商户',
        //         width: "380",
        //         url: url,
        //         callBack: doSubmit
        //     };
        //     $.modal.openOptions(options);
        // }
        //
        // function doSubmit(index, layero){
        //     //var tree = layero.find("iframe")[0].contentWindow.$._tree;
        //     var body = $.modal.getChildFrame(index);
        //     $("#treeId").val(body.find('#treeId').val());
        //     $("#companyId").val(body.find('#treeId').val());
        //     $("#treeName").val(body.find('#treeName').val());
        //     spChange(body.find('#treeId').val());
        //     $.modal.close(index);
        // }
        //
        // function spChange(companyId,appId){
        //     $.get(ctx + "operator/routeBase/selectByCompanyID",{companyId: companyId},function(result){
        //         if (result.code == 0 && result.data != null){
        //             var html = '<option value="">请选择账户</option>';
        //             $("#appId").empty();
        //             $("#appId").append(html);
        //             $.each(result.data,function (key,value) {
        //                 //if(appId==value.id){
        //                 //   html += '<option value="'+value.id+'" selected>'+value.id+':'+value.appName+'</option>';
        //                 //}else{
        //                 html = '<option value="'+value.id+'">'+value.id+':'+value.appName+'</option>';
        //                 // }
        //                 $("#appId").append(html);
        //             })
        //             $("#appId").val([appId]).trigger("change");;
        //         }else {
        //             $.modal.msgError('获取数据失败！');
        //         }
        //
        //     })
        // }
        //
        // /*签名-编辑-选择父签名树*/
        // function selectSignTree() {
        //     var options = {
        //         title: '签名选择',
        //         width: "380",
        //         url: prefix + "/selectSignTree/" + $("#treeId").val(),
        //         callBack: doSubmit1
        //     };
        //     $.modal.openOptions(options);
        // }
        //
        // function doSubmit1(index, layero){
        //     var body = $.modal.getChildFrame(index);
        //     $("#treeId1").val(body.find('#treeId1').val());
        //     $("#treeName1").val(body.find('#treeName1').val());
        //     $.modal.close(index);
        // }
    </script>
</body>
</html>